In [31]:
from pandas import DataFrame as df
import pandas as pd
import requests
from datetime import date, timedelta
yesterday = date.today() - timedelta(days=1)


confirmed_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
deaths_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
yesterdays_date = yesterday.strftime('%-m/%d/%y')

confirmed = pd.read_csv(confirmed_url)
deaths = pd.read_csv(deaths_url)
confirmed.iloc[0]['Country/Region'] #Test

death_size = []
confirmed_size = [] #Maybe remake these 6 lines into list comprehensions
#Set minimum size to 13 or 10
for num_cases in confirmed[yesterdays_date]:
    size = num_cases/500
    confirmed_size.append(size) if size > 13 else confirmed_size.append(13)
    #These sizes are for map marker size
for num_deaths in deaths[yesterdays_date]:
    size = num_cases/500
    death_size.append(size) if size > 10 else death_size.append(10)
# for place in deaths[['Province/State','Country/Region']]:
#     if place is float:
#     deaths_names.append()



confirmed['confirmed_size'] = df(confirmed_size)
deaths['death_size'] = df(death_size)
confirmed_names = []
deaths_names = []
# confirmed['Name'] = df(confirmed_names)
# deaths['Name'] = df(deaths_names)
for i in range(len(confirmed)):
    if type(confirmed['Province/State'][i]) is str:
        confirmed_names.append(confirmed['Province/State'][i])
    else:
        confirmed_names.append(confirmed['Country/Region'][i])
        
confirmed['Name'] = df(confirmed_names)
confirmed[['Country/Region', 'Province/State', 'Name']].tail(100)

            Country/Region         Province/State                   Name
149          Liechtenstein                    NaN          Liechtenstein
150              Lithuania                    NaN              Lithuania
151             Luxembourg                    NaN             Luxembourg
152             Madagascar                    NaN             Madagascar
153               Malaysia                    NaN               Malaysia
..                     ...                    ...                    ...
244  Saint Kitts and Nevis                    NaN  Saint Kitts and Nevis
245                 Canada  Northwest Territories  Northwest Territories
246                 Canada                  Yukon                  Yukon
247                 Kosovo                    NaN                 Kosovo
248                  Burma                    NaN                  Burma

[100 rows x 3 columns]